/*
Clan: Clan Gates
Grupo: Charlie
Fecha: 16/05/2024
*/

// import normalize.css file ,bootstrap icons and google font 
@import url(./normalize.scss);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

//color palette
:root {
    --white: #ffffff;
    --orange: #fa8334;
    --blue: #000080;
    --black: #000000;
    --gray: #edefeb;
    --blue_hover: #0000B3;
    --gray_hover: #F2F2F3;
}

* {
    font-family: "Teachers", sans-serif;
}
<<<<<<< HEAD

/* General styles */

// Navigation bar styles
.navbar {
    background-color: var(--white);
}

.nav__a-btn{
    text-decoration: none;
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5em;
    width: 8em;
    max-width: 9em;
    min-height: 3em;
    margin: auto;
}

.nav__a-btn:hover{
    background-color: var(--blue_hover);
}

.nav__a{
    max-width: 17%;
    min-width: 11em;
}

.nav-link:hover{
    background-color:var(--gray_hover);
}





=======
/*footer class*/
.footerr{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
    font-size:x-large;
}

/*title configuration*/
.sizeText{
    font-size: 70px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

/*configuration of the buttons*/
.buttons{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.fa-facebook-f{
    color: whitesmoke;
    background-color: #0B60CB;
    border-radius: 50%;
    padding: 10px 10px;
    width: 60px;
    height: 60px; 
    font-size: 40px;
    margin: 0px 10px;
}

.fa-twitter{
    color: whitesmoke;
    background-color: #0C85D0;
    border-radius: 50%;
    padding: 10px 10px;
    width: 60px;
    height: 60px; 
    font-size: 40px;
    margin: 0px 10px;
}

.fa-instagram{
    color: whitesmoke;
    background-color: #F00075;
    border-radius: 50%;
    padding: 10px 10px;
    width: 60px;
    height: 60px; 
    font-size: 40px;
    margin: 0px 10px;
}

.fa-tiktok{
    color: whitesmoke;
    background-color: #000000;
    border-radius: 50%;
    padding: 10px 10px;
    width: 60px;
    height: 60px; 
    font-size: 40px;
    margin: 0px 10px;
}
>>>>>>> 1bdace99e9d60d246861452ea36b1141403a3c20
